<p>Der var senest kontakt til "<a href="{{ url }}">{{ device.name }}</a>" for {{ ago }} sekunder siden.</p>

<p>Seneste kontakt var <strong>{{ device.latestReceivedMessage.sentTime|date("d-m-Y H:i:s") }}</strong>.</p>

<p><strong>Enhedsinformation</strong></p>
<table style="margin-left: 10px;">
    <tr>
        <td>Navn:</td>
        <td><a href="{{ url }}">{{ device.name }}</a></td>
    </tr>
    <tr>
        <td>EUI:</td>
        <td>{{ device.id }}</td>
    </tr>
    <tr>
        <td>Batteriniveau:</td>
        {% if device.statusBattery == -1 %}
        <td>N/A</td>
        {% else %}
        <td>
            {{ device.statusBattery|number_format(0, ',', '') }}%
            <span style="color: {% if device.statusBattery > 50 %}green{% elseif device.statusBattery < 20 %}red{% else %}yellow{% endif %};">
                &bull;
            </span>
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>Placering</td>
        <td>{% include 'mails/map_link.html.twig' with { 'latitude': device.location.latitude, 'longitude': device.location.longitude, 'content': device.location.latitude ~ ", " ~ device.location.longitude } %}</td>
    </tr>

</table>

<p><strong>Gateway(s), der har modtage senest besked:</strong></p>
{% for rxInfo in device.latestReceivedMessage.rxInfo %}
    <table style="border-style: dashed; border-width: 2px; border-color: gray;width: 450px;padding: 4px;margin-left: 10px;">
        <thead>
            <tr>
                <th style="text-align: left" colspan="2">Gateway {{ loop.index }} af {{ loop.length }}</th>
            </tr>
        </thead>
        <tr>
            <td>Gateway EUI:</td>
            <td>{{ rxInfo.gatewayId }}</td>
        </tr>
        <tr>
            <td>RSSI:</td>
            <td>{{ rxInfo.rssi }}</td>
        </tr>
        <tr>
            <td>SNR:</td>
            <td>{{ rxInfo.snr  }}</td>
        </tr>
        <tr>
            <td>Placering</td>
            <td>{% include 'mails/map_link.html.twig' with { 'latitude': rxInfo.location.latitude, 'longitude': rxInfo.location.longitude, 'content': rxInfo.location.latitude ~ ", " ~ rxInfo.location.longitude } %}</td>
        </tr>
    </table>
{% endfor %}

<p><strong>Årsagen kan være</strong></p>
<ol>
    <li>
        At enheden er løbet tør for batteri.
        <ul>
            <li>Hvis det er tilfældet, så undersøg batteristatus for andre sensorer i løsningen.</li>
        </ul>
    </li>
    <li>Manglende dækning. IoT Lab kan hjælpe med at opsætte yderligere gateways.</li>
    <li>Defekt enhed. Kontakt IoT Lab hvis enheden skal udskiftes.</li>
</ol>

{% include 'mails/logo.html.twig' %}
