<p>Der var senest kontakt til "<a href="{{ url }}">{{ gateway.name }}</a>" for {{ ago }} sekunder siden.</p>

<p>Seneste kontakt var <strong>{{ gateway.lastSeenAt|date("d-m-Y H:i:s") }}.</strong></p>

<p>Årsagerne kan være strømsvigt, manglende netværksdækning eller at udstyret skal genstartes.</p>

<p><strong>Gateway information</strong></p>
<table style="margin-left: 10px;">
    <tr>
        <td>Navn:</td><td><a href="{{ url }}">{{ gateway.name }}</a></td>
    </tr>
    <tr>
        <td>ID:</td><td>{{ gateway.gatewayId }}</td>
    </tr>
    <tr>
        <td>Beskrivelse:</td><td>{{ gateway.description|replace({'\n': '<br>'})|raw }}</td>
    </tr>
    <tr>
        <td>Placering</td>
        <td>{% include 'mails/map_link.html.twig' with { 'latitude': gateway.location.latitude, 'longitude': gateway.location.longitude, 'content': gateway.location.latitude ~ ", " ~ gateway.location.longitude } %}</td>
    </tr>
</table>

{% include 'mails/logo.html.twig' %}
