<p>{{ type }} er registreret til at være placeret i punktet {{ latitude }}, {{ longitude }}
    <br /><br />
    Se placering på <a href="https://www.openstreetmap.org?mlat={{ latitude }}&mlon={{ longitude }}/#map=16/{{ latitude }}/{{ longitude }}">https://www.openstreetmap.org/</a>
</p>
