<p>Der har ikke været kontakt til {{ name }} i {{ seenAgo }} skunder.</p>

<p>Seneste kontakt var {{ lastSeenDate|date("d-m-Y H:i:s") }}.</p>

<p><strong>Navn</strong>: {{ name }}</p>
<p><strong>Beskrivelse</strong>: {{ description }}</p>

<p><strong>Årsagen kan være</strong></p>
<ol>
    <li>At enheden er løbet tør for batteri.
        <ul>
            <li>Hvis det er tilfældet, så undersøg batteristatus for andre sensorer i løsningen.</li>
        </ul>
    </li>
    <li>Manglende dækning. IoT Lab kan hjælpe med at opsætte yderligere gateways.</li>
    <li>Defekt enhed. Kontakt IoT Lab hvis enheden skal udskiftes.</li>
</ol>

<p>Enheden er registreret til at være placeret i punktet {{ location.latitude }}, {{ location.longitude }}
<br /><br />
Se placering på <a href="https://www.openstreetmap.org?mlat={{ location.latitude }}&mlon={{ location.longitude }}/#map=16/{{ location.latitude }}/{{ location.longitude }}">https://www.openstreetmap.org/</a>
</p>

<img src="{{ email.image('@assets/logo_100.png') }}" alt="Logo">
